configuration{
    modi: "run,drun,window,emoji";
    icon-theme: "Oranchelo";
    show-icons: true;
    terminal: "kitty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: " 🚀 Apps ";
    display-run: " 💻 Run ";
    display-window: " 🔎 Window ";
    display-Network: " 🛜 Network ";
    display-emoji: " 😀 Emojis ";
    sidebar-mode: true;
}

@theme "catppuccin-frappe"
